nav {
  height: 80px;
  width: 100vw;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 99;
  background-color: rgb(211, 144, 20);
  background-image: url('../images/concrete-wall.png');
}

.nav-logo {
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
}

.toggle-form {
  color: white;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.toggle-form p {
  color: white;
  margin: 0;
}

.toggle-form ion-icon {
  color: rgb(202, 18, 18);
  font-weight: 600;
}