// Colors
$colorRed: rgb(202, 18, 18);
$colorYellowBg: rgb(211, 144, 20);
$colorGreyBg: #f4f1ec;
$colorGrey: rgb(189, 189, 207);
$colorBrown: rgb(88, 72, 65);
$colorBlue: #4050A1;
$colorLightBlue: #5570b6;


// Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweet-container {
  min-height: 100px;
  width: 100%;
  border: 5px solid $colorBrown;
  margin-top: 40px;
  font-weight: 300;
  filter: blur(.5px);

  &:hover {
    box-shadow: 10px 10px $colorGrey;
    filter: none;

    p,
    .tweet {
      color: black;
    }

    .tweeter-handler {
      color: $colorGrey;
    }

    .tweet-buttons ion-icon {
      color: $colorBlue;
    }
  }

  header {
    @include flex-space-between;
    width: 100%;
    padding: 25px 20px;

    .username {
      @include flex-center;

      img {
        margin-right: 10px;
        width: 60px;
        height: 60px;
      }
      p {
        margin: 0;
      }
    }
    .tweeter-handler {
      margin: 0;
      color: $colorGreyBg;
      font-size: 24px;
      font-weight: 400;
    }
  }
  .tweet {
    margin: 0 15px;
    padding: 0px 20px 30px 20px;
    border-bottom: 4px solid $colorBrown;
    font-size: 24px;
    color: $colorBrown;
    word-break: break-all;
  }
  footer {
    @include flex-space-between;
    padding-bottom: 10px;
    p {
      margin: 0;
      padding: 10px 30px;
      font-size: 16px;
    }
    .tweet-button {
      color: $colorLightBlue;
      font-size: 16px;
      padding: 5px 40px;
      ion-icon {
        margin-left: 6px;
        cursor: pointer;
      }
    }
  }
}